body {
  padding-top: 54px;
  margin: 0px 0px;
  font-family: verdana;
  font-size: 1em;
  line-height: 1.3em;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(50,50,100,0.5), rgba(50,50,100,0.5)), url("pictures/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section {
  margin: 10px auto;
  padding: 15px 30px;
  border-radius: 5px;
  width: 60%;
  background: rgba(0, 0, 10, 0.6);
}

section > article {
  display: flex;
  padding: 0px;
}

h1 {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(20, 20, 35, 1);
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 0px 0px;
  padding: 15px 0px;
  box-shadow: 0px 3px 2px rgb(220, 220, 220);
}

h2 {
  color: rgb(134, 174, 239);
  font-size: 1.1em;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
}

h3.table_header {
  font-size: 1em;
  width: 80%;
  margin: 5px auto;
  text-align: center;
}

small {
  font-weight: normal;
}

p {
  margin: 0px;
  padding: 0px;
  text-align: justify;
}

p + p {
  margin-top: 10px;
}

ul.pictures {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

ul.pictures > li {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: auto;
}

ul.pictures > li > img {
  max-height: 70px;
  margin: 10px 10px;
}

div.icons {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

span.icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100px;
}

span.icon > img {
  max-height: 70px;
  /* margin: 10px 10px; */
}

ul.links {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
  padding-top: 15px;
  margin: 0;
}

ul.links > li {
  margin: auto;
}

ul.links > li > a {
  display: block;
  background: rgba(134, 174, 239, 0.5);
  border-radius: 50%;
  height: 4em;
  width: 4em;
}

ul.links > li > a > img {
  width: inherit;
  height: inherit;
}

div.table {
  width: 45%;
  margin: auto;
  margin-top: 0;
  padding: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

b {
  color: rgb(250, 250, 250);
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: rgb(134, 174, 239);
}

#info {
  text-align: center;
  color: rgb(200, 200, 200);
}

@media screen and (min-width: 701px) {
  span.icon > img.enlarge {
    max-height: 90px;
    /* margin: 0; */
    transition-property: all;
    transition-duration: 0.2s;
  }
  .highlight {
    color: rgb(134, 174, 239);
  }
}

@media screen and (max-width: 1000px) {
  section {
    width: 600px;
  }
}

@media screen and (max-width: 700px) {
  section {
    width: auto;
    margin: 10px 10px;
    padding: 10px 10px;
  }
  p {
    text-align: center;
  }
  b {
    color: rgb(134, 174, 239);
  }
  h2 {
    margin-bottom: 10px;
  }
  h3.table_header {
    margin-top: 0px;
  }
  span.icon > img {
    max-height: 40px;
  }
  div.table {
    width: 80%;
  }
  div.table + div.table {
    margin-top: 5px;
  }
  ul.links {
    padding-top: 10px;
  }
  section > article {
    flex-direction: column;
  }
}
