/** { border: 1px solid rgb(100, 100, 100) }*/

body {
  background: rgb(50, 50, 55);
  padding: 0;
  margin: 10px 0px;
  font-family: verdana;
  font-size: 1em;
  line-height: 1.4em;
  color: rgb(200, 200, 200);
}

article {
  display: none;
  padding: 0 0;
  margin: 0 0;
}

section {
  background: rgb(90, 90, 97);

  padding: 5px 5px;
  margin: 10px auto;

  width: 90%;
  max-width: 1100px;

  border: 1px solid rgb(150, 150, 150);
}

section > div {
  padding: 5px 5px;
}

section > div > h1 {
  width: 90%;
  text-align: center;
  font-size: 1.1em;
  padding-top: 5px;
  padding-bottom: 15px;
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(80, 80, 80);
}

section > div > p, #OVresult {
  padding: 5px 5px;
  margin: 0;
}

div.pics {
  width: 100%;
  margin: auto;
  text-align: center;
}

div.pics > img {
  width: 45%;
  max-width: 250px;

  margin-left: 2px;
  margin-right: 2px;

  border: 1px solid rgb(180, 180, 180);
}

ul.navbar {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul.navbar > li {
  display: inline-block;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

ul.navbar > li > a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  margin-bottom: 3px;
  background: rgb(90, 90, 97);
}

ul.navbar > li > a:hover:not(.active){
  color: rgb(200, 200, 200);
  background: rgb(80, 80, 85);
  cursor: pointer;
}

ul.navbar > li > a.active {
  color: rgb(200, 200, 200);
  background: rgb(80, 80, 85);
  padding-bottom: 23px;
  margin-bottom: 0px;
  cursor: default;
}

#navline {
  width: 100%;
  border-top: 3px solid rgb(80, 80, 85);
}

ul.links {
  padding: 0px 20px;
}

ul.links > li {
  list-style-type: none;
}

ul.links > li + li {
  margin-top: 10px;
}

ul.links > li > a {
  text-decoration: none;
  color: rgb(130, 130, 200);
}

div.orbit {
  padding: 5px 5px;
  margin: 0px 20px;
}

#OV {
  width: 100px;
  padding: 1px 5px;
  border: 1px solid rgb(150, 150, 150);
  background: rgb(50, 50, 55);
  font-family: verdana;
  font-size: 1em;
  color: rgb(200, 200, 200);
}

/*content: calc(thing + thing)*/

/*where mobile begins*/
@media screen and (max-width: 450px) {
  body {
    text-align: justify;
    font-size: 0.9em;
  }

  ul.links { padding: 0px 5px; }

  #OV {
    width: 100%;
    padding: 15px 0px;
    font-size: 2em;
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  ul.navbar > li > a { padding: 20px 20px; }
  ul.links { padding: 0px 10px; }
}
