body {
  background: rgba(240, 240, 240, 1);
  font-family: verdana;
}

section {
  background: rgba(230, 230, 230, 0.8);
  padding: 5px 5px;
  margin: 5px 5px;

  border-style: solid;
  border-color: rgba(200, 200, 200, 1);
  border-width: 1px;
}

div.one {
  background: rgba(230, 230, 230, 1);
  padding: 5px 5px;
  margin: 5px 5px;

  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgba(200, 200, 200, 1);
  border-width: 1px;
}

div.pics {
  width: 100%;
  text-align: center;
}

img {
  width: 45%;
  max-width: 250px;

  margin-left: 5px;
  margin-right: 5px;

  border: 1px solid rgba(100, 100, 100, 0.5);
}

p {
  text-align: justify;
  font-size: 0.9em;
}

h1 {
  text-align: center;
  font-size: 1em;
  padding-left: 5px;
}

h2 {
  font-weight: normal;
  font-size: 1em;
  padding-left: 5px;
}
